<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H3>Hamma fanlar  ro'yhati</H3>
<form>
    <input name="qidirish" placeholder="Fan nomi?">

    <button>Qidirish</button>

</form>
{%for i in Fanlar%}
    <h5>{{i}}</h5>
    <button><a href="/fan/{{i.id}}/">O'chirish</a></button>
    <button><a href="/fan-t/{{i.id}}/">Tahrirlash</a></button>

{%endfor%}
<br>
<hr>
<form method="POST"  action="/fanlar/"> {%csrf_token%}
    <label>Nomi:</label>
    <input type="text" name="n" placeholder="Fan nomini kiriting.."><br><br>
    <label>Code:</label>
    <input type="number" name="c" placeholder="Fan kodini kiriting.."><br><br>
    <label>Vaqt:</label>
    <input type="date" name="v" placeholder="Vaqtni tanlang.."><br><br>
    <label>Aktivmi:</label>
    <input type="checkbox" name="a"><br><br>
    <label>Saqlash:</label>
    <button type="submit">Save</button>
</form>

</body>
</html>